*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

span{
    color: #219653;
}

body::-webkit-scrollbar{
    display: none;
}

/*------------Header-------------*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    gap: 12px;

    position: absolute;
    width: 1216px;
    height: 72px;
    left: 112px;
    top: 64px;


}

.title {
    width: 290px;
    height: 33px;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0;
    gap: 24px;

    width: 289px;
    height: 46px;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.list-section {
    display: flex;
    gap: 35px;
}

.item-section {
    display: inline-block;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
    
}

.item-section > a {
    text-decoration: none;
    color: #1e1e1e;
}

.item-section > a:hover{
    color: #219653;
    transition: .5s;
    font-size: 32px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 4px;
}

.contact-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    gap: 12px;

    text-align: center;

    width: 126px;
    height: 60px;

    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;

    cursor: pointer;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background-color: #219653;
}

.contact-button a{
    background-color: #219653;
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
}

.contact-button:hover{
    border: none;
    background: #d9d9d9;
    transition: .5s;
}

.contact-button a:hover{
    background-color: #d9d9d9;
    text-decoration: none;
    color: #219653;
    transition: .5s;
}

/*-----------------Main-------------------*/
/*-----------------Section Hero-------------------*/

.section-hero > .section-text > .title-main {
    position: absolute;
    width: 493px;
    height: 120px;
    left: 112px;
    top: 375px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    color: #1e1e1e;
}

.section-hero > .section-text > .text-main{
    position: absolute;
    width: 500px;
    height: 84px;
    left: 112px;
    top: 500px;

    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #1e1e1e;
}

.section-hero > .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

    position: absolute;
    width: 248px;
    height: 56px;
    left: 112px;
    top: 600px;

    border-radius: 16px;
    background: #219653;
    color: #fefefe;

    width: 316px;
    height: 52px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.16em;

    cursor: pointer;
}

.button > a{
    background: #219653;
    color: #fefefe;
    text-decoration: none;
    width: 297px;
    /*ajeitar o button*/

}

.button:hover {
    background: #d9d9d9;
    border: none;
    transition: .5s;
    color: #219653;
}

.button > a:hover{
    background: #d9d9d9;
    color: #fefefe;
    transition: .5s;
    text-decoration: none;
}

.img {
    position: absolute;
    width: 593px;
    height: 593px;
    left: 786px;
    top: 259px;

    background: url(/img/euponto.svg);
}



.section-hero > .img {
    position: absolute;
    width: 542px;
    height: 593.47px;
    left: 788px;
    top: 239px;

    background: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(62,29,103,0.7344187675070029) 49%, rgba(0,212,255,1) 100%);
    border: 4px solid #219653;
    border-radius: 40px;
}

.section-media > .github{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 112px;
    top: 699px;

    cursor: pointer;
}

.section-media > .linkedln{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 208px;
    top: 699px;

    cursor: pointer;
}

.section-media > .youtube{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 304px;
    top: 699px;

    cursor: pointer;
}

.section-media > .instagram{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 400px;
    top: 699px;

    cursor: pointer;
}

/*-------------- Sections Skills-------------*/

.section-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
    gap: 48px;

    width: 1009px;
    height: 960px;

    background: #fefefe;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 940px;
    right: 216px;
    bottom: 1743px;
    left: 216px;

    
}

.section-skill > .title-skill{
    width: 475px;
    height: 126px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;

    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.section-skill > .skill-card-geral > .skill-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.section-skill > .skill-card-geral > .skill-list{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
}



.section-skill > .skill-card-front > .skill-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.section-skill > .skill-card-front > .skill-list{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
}



.section-skill > .skill-card-back > .skill-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.section-skill > .skill-card-back > .skill-list{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
}



.section-skill > .skill-card-geral{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    width: 312px;
    height: 690px;

    border: 1px solid #d9d9d9;
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;

    

    position: absolute;
    top: 222px;
    right: 696px;
}

.section-skill > .skill-card-geral > .skill-title{
    margin: 12px 27px 12px 27px;
}
.section-skill > .skill-card-geral > .skill-text{
    margin: 12px 27px 12px 27px;
    text-align: center;
}
.section-skill > .skill-card-geral > .skill-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 16px;
    padding-right: 123px;
    gap: 10px;

    width: 310px;
    height: 236px;

    flex: none;
    order: 1;
    flex-grow: 0;

   
}



.section-skill > .skill-card-front > .skill-title{
    margin: 12px 27px 12px 27px;
}
.section-skill > .skill-card-front > .skill-text{
    margin: 12px 27px 12px 27px;
    text-align: center;
}
.section-skill > .skill-card-front > .skill-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 16px;
    padding-right: 20px;
    gap: 10px;

    width: 310px;
    height: 421px;

    flex: none;
    order: 1;
    flex-grow: 0;

   
}



.section-skill > .skill-card-back > .skill-title{
    margin: 12px 27px 12px 27px;
}
.section-skill > .skill-card-back > .skill-text{
    margin: 12px 27px 12px 27px;
    text-align: center;
}
.section-skill > .skill-card-back > .skill-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 16px;
    padding-right: 40px;
    gap: 10px;

    width: 310px;
    height: 458px;

    flex: none;
    order: 1;
    flex-grow: 0;

  
}



.section-skill > .skill-card-front{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    width: 312px;
    height: 690px;

    border: 1px solid #d9d9d9;
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;

   

    position: absolute;
    top: 222px;
    right: 348px;
    bottom: 48px;
    left: 348px;
}

.section-skill > .skill-card-back{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    width: 312px;
    height: 690px;

    border: 1px solid #d9d9d9;
    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;

   

    position: absolute;
    top: 222px;
    right: 0;
    bottom: 48px;
    left: 696px;
}

/*-----------------Section Projects-------------------*/

.projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 0;
    gap: 48px;

    width: 1216px;
    height: 605px;

    background: #fefefe;

    flex: none;
    order: 2;
    flex-grow: 0;

    position: absolute;
    top: 1900px;
    right: 112px;
    bottom: 1138px;
    left: 112px;

    
    
}

.projects > .project-title{
    width: 396px;
    height: 126px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;

    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
}

.projects > .project-list > .project-card-01{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 384px;
    height: 300px;

    border: 1px solid #d9d9d9;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 239px;
    right: 830px;
}

.projects > .project-list > .project-card-02{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 384px;
    height: 300px;

    border: 1px solid #d9d9d9;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 239px;
    right: 416px;

}

.projects > .project-list > .project-card-03{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 384px;
    height: 300px;

    border: 1px solid #d9d9d9;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 239px;
    left: 830px;

}

/*-----------------Section Expiriences-------------------*/

.experiences{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 48px;
    
    width: 1216px;
    height: 570px;

    background: #fefefe;

    flex: none;
    order: 3;
    flex-grow: 0;

    position: absolute;
    top: 2505px;
    right: 112px;
    bottom: 568px;
    left: 112px;

}

.experiences > .exp-title{
    width: 411px;
    height: 126px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;

    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;
}

/*List 01*/
.experiences > .exp-list-01 > .exp-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;

    width: 800px;
    height: 129px;

    background: #d9d9d9;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experiences > .exp-list-01 > .exp-card > .exp-img{
    width: 48px;
    height: 48px;

    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 265px;
    right: 728px;
    bottom: 57px;
    left: 24px;
}

.experiences > .exp-list-01 > .exp-card > .exp-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 6px;

    width: 688px;
    height: 81px;

    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.experiences > .exp-list-01 > .exp-card > .exp-frame > .frame-title{
    width: 200px;
    height: 22px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 265px;
    right: 518px;
    bottom: 83px;
    left: 88px;
}

.experiences > .exp-list-01 > .exp-card > .exp-frame > .frame-text-01{
    width: 380px;
    height: 17px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin-top: 8px;
    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 285px;
    right: 378px;
    bottom: 36px;
    left: 128px;
}

.experiences > .exp-list-01 > .exp-card > .exp-frame > .frame-text-02{
    width: 658px;
    height: 30px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 316px;
    right: 378px;
    bottom: 36px;
    left: 292px;
}
/*List 02*/
.experiences > .exp-list-02 > .exp-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;

    width: 800px;
    height: 129px;

    background: #d9d9d9;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experiences > .exp-list-02 > .exp-card > .exp-img{
    width: 48px;
    height: 48px;

    border-radius: 12px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 442px;
    right: 728px;
    bottom: 57px;
    left: 24px;
}

.experiences > .exp-list-02 > .exp-card > .exp-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 6px;

    width: 688px;
    height: 81px;

    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.experiences > .exp-list-02 > .exp-card > .exp-frame > .frame-title{
    width: 200px;
    height: 22px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 442px;
    right: 518px;
    bottom: 83px;
    left: 88px;
}

.experiences > .exp-list-02 > .exp-card > .exp-frame > .frame-text-01{
    width: 380px;
    height: 17px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin-top: 8px;
    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 462px;
    right: 378px;
    bottom: 36px;
    left: 128px;
}

.experiences > .exp-list-02 > .exp-card > .exp-frame > .frame-text-02{
    width: 658px;
    height: 30px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    background-color: #d9d9d9;
    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 492px;
    right: 378px;
    bottom: 36px;
    left: 292px;
}

/*-----------------Section Contact-------------------*/

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;

    width: 1216px;
    height: 412px;

    background: #fefefe;

    flex: none;
    order: 4;
    flex-grow: 0;

    position: absolute;
    top: 3075px;
    right: 112px;
    bottom: 156px;
    left: 112px;

    /* border: 1px solid #d9d9d9; */
    border-radius: 10px;
}

.contact-help{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 434px;
    height: 316px;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 48px;
    right: 391px;
    bottom: 48px;
    left: 391px;

    border: 1px solid #d9d9d9;
    border-radius: 12px;
}

.contact-title{
    width: 376px;
    height: 126px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;

    text-align: center;

    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 10px;
    right: 29px;
    bottom: 180px;
    left: 29px;
}

.contact-info > h2{
    width: 392px;
    height: 44px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000;

    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    top: 156px;
    right: 21px;
    bottom: 116px;
    left: 21px;
}

.contact > .contact-help > .contact-info > .info-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;

    width: 188px;
    height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 224px;
    left: 80px;
}

.contact > .contact-help > .contact-info > .info-phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 16px;

    width: 188px;
    height: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;
    top: 272px;
    left: 110px;
}



/*-----------------Footer-------------------*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
    width: 1519px;
    height: 10px;

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

    position: absolute;
    top: 3487px;
    bottom: 0;

    border: 1px solid #d9d9d9;
}

.footer > h1 > a{
    text-decoration: none;
    color: #1e1e1e;
}

.footer > h1 > a:hover{
    color: #219653;
    transition: .6s;
}